<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premuim Carwash</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="paint-job.component.css">
</head>
<body>
    <div class="first-container">
        <div class="qoute-box">
            <h1>PAINT JOB SERVICES</h1>
        </div>
        <div style="display: flex;">
          <div class="qoute-box-message">
            <a routerLink = "/services" class="btn-one">GO BACK TO ALL SERVICES</a>
          </div>
          <div class="qoute-box-message">
            <a routerLink = "/servicesBooking" class="btn-one">BOOK SERVICES WITH US TODAY</a>
          </div>
        </div>
    </div>

    <div class="third-content-section">
        <div class="body-content">
            <div class="first-body-content">
                <h1> COMPLETE PAINT SERVICE </h1>

                <p>Starting at ₱20,000 </p>

            </div>

            <div class="second-body-content">
                <p>"Motora painters begin the process by making sure they’re working on a flawlessly clean surface, removing all dirt, grease, and other materials that get in the way of an immaculate finish. Then they begin prepping the vehicle for primer. After the primer has been applied and cured and the area has been sanded down, the surface is ready to be prepped for paint."</p>
            </div>
        </div>

        <div class="image-body-content">
            <img class="pic1" src="../../../../assets/pic-22.jpg" alt="">
        </div>

    </div>

    <div class="fourth-content-section">

        <div class="image-two-body-content">
            <img class="pic1" src="../../../../assets/pic-27.png" alt="">
        </div>


        <div class="body-two-content">
            <div class="fourth-body-content">
                <h1> THE ART OF AUTO PAINTING </h1>

            </div>

            <div class="fourth-body-content">
                <p>"Many believe painting your vehicle is a simple, one-step process, but it’s actually an intricate procedure that requires precision, expertise, professional training, and exactitude. From extensive, complete body paint jobs to individual panels, our technicians understand exactly how to assess and execute your paint job with accuracy."</p>
            </div>
        </div>


    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>PAGES</h2>
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/services">Services</a>
                <a routerLink="/sign-up">Admin</a>
                <!-- <a href="#">Account</a> -->
            </div>
            <div class="footer-heading footer-2">
                <h2>CONTACT US</h2>
                <p>MOTORA automotive corp. </p>
                <p>motoracorportaion@gmail.com</p>
                <p>Sucat, Paranaque 126 </p>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign up" id="footer-email-btn">
            </div>


        </div>
