header { 
width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: rgb(141, 129, 129) 
    
}
img {
    width: 50%;
    height: 50%;
}

#image-container {
    padding: 1vh 0;
}
li {
    color:aqua;
    margin: 10px;
    padding: 15px 15px 15px 15px;
    background-color: rgb(99, 63, 63);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
 
}
#navlink-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
    padding: 1vh 2vw;
    text-decoration: none;
}