
<header>
  <nav>

  <img class="logo" src="../assets/MOTORA.png" alt="logo">


      <ul id="navlink-container" class="nav-item">
        <a class="navlinks" routerLink="/home" [routerLinkActive]="['active-link']">
          <li>HOME</li>
        </a>
        <a class="navlinks" routerLink="/about" [routerLinkActive]="['active-link']">
          <li>ABOUT</li>
        </a>
        <a class="navlinks" routerLink="/products" routerLinkActive="active-link">
          <li>PRODUCTS</li>
        </a>
        <a class="navlinks" routerLink='/services' routerLinkActive="active-link">
          <li>SERVICES</li>
        </a>
        <a class="navlinks" routerLink='/account' routerLinkActive="active-link">
          <li>ACCOUNT</li>
        </a>
</ul>
</nav>
</header>




<router-outlet></router-outlet>
