
 <header>
   <div id= "image-container" class="nav-item">
  <img class="logo" src="./../assets/MOTORA.png" alt="logo">
  </div>
    <nav>
      <ul id="navlink-container" class="nav-item">
        <a class="navlinks" routerLink="/home" [routerLinkActive]="['active-link']">
          <li>HOME</li>
        </a>
        <a class="navlinks" routerLink="/about" [routerLinkActive]="['active-link']">
          <li>ABOUT</li>
        </a>
        <a class="navlinks" routerLink="/products" routerLinkActive="active-link">
          <li>PRODUCTS</li>
        </a>
        <a class="navlinks" routerLink='/services' routerLinkActive="active-link">
          <li>SERVICES</li>
        </a>


</ul>
</nav>
</header>






<router-outlet></router-outlet>
