header {
width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10)

}
img {
    width: 100px;
    height: 100px;
    margin-left: 3%;
    float: left;
}

/*nav-bar css*/
.nav-bar {
    width: 100%;
}
li {
    color:rgb(255, 255, 255);
    margin: 10px;
    padding: 15px 15px 15px 15px;
    background-color: rgb(104, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;

}
#navlink-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 30%;
    margin-left: 60%;
    box-sizing: border-box;
    text-decoration: none;
}
