<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="services.component.css">
</head>
<body>
    <div class="first-container">
        <div class="qoute-box">
            <h1>GET OUR SERVICES TODAY</h1>
        </div>
        <Div class="qoute-box-message">
            <a href="contact-us" class="btn-one">PAINT PROTECTION & ENHANCEMENT SERVICES</a>
        </Div>
    </div>

    <div class="second-container">
        <div class="box">
            <div class="imgBx">

                <img src="../../../assets/pic-18.jpg">
                <h2 class="content-one" routerLink="/carwash" [routerLinkActive]="['active-link']">Premuim Car Wash</h2>

            </div>
            <div class="imgBx">
                <img src="../../../assets/pic-20.jpg">
                <h2 class="content-two">Tint Services</h2>
            </div>
            <div class="imgBx">
                <img src="../../../assets/pic-13.jpg">
                <h2 class="content-three">Glass Coating</h2>
            </div>
            <div class="imgBx">
                <img src="../../../assets/pic-22.jpg">
                <h2 class="content-four">Paint Job Services</h2>
            </div>

        </div>
    

    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>PAGES</h2>
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Account</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>CONTACT US</h2>
                <p>MOTORA automotive corp. </p>
                <p>motoracorportaion@gmail.com</p>
                <p>Sucat,Paranaque 126 </p>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign up" id="footer-email-btn">
            </div>


        </div>
