<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paint Protection</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="glass-coating.component.css">
</head>
<body>
    <div class="first-container">
        <div class="qoute-box">
            <h1>GLASS COATING SERVICES</h1>
        </div>
        <div style="display: flex;">
          <div class="qoute-box-message">
            <a routerLink = "/services" class="btn-one">GO BACK TO ALL SERVICES</a>
          </div>
          <div class="qoute-box-message">
            <a routerLink = "/servicesBooking" class="btn-one">BOOK SERVICES WITH US TODAY</a>
          </div>
        </div>
    </div>

    <div class="third-content-section">
        <div class="body-content">
            <div class="first-body-content">
                <h1> ELITE PROTECTION </h1>
                <p>STARTING AT ₱10000</p>
            </div>

            <div class="second-body-content">
                <p>This is our most popular package for performance cars:

                    Wash, clay, decon
                    Two stepckage Custom Clear Bra
                    Modesta BC04 coating
                    Modesta BC06 coating
                    Stek NEX Ceramic window tint sides and rear</p>
            </div>
        </div>

        <div class="image-body-content">
            <img class="pic1" src="../../../../assets/pic-24.jpg" alt="">
        </div>

    </div>

    <div class="fourth-content-section">

        <div class="image-two-body-content">
            <img class="pic1" src="../../../../assets/pic-25.png" alt="">
        </div>


        <div class="body-two-content">
            <div class="fourth-body-content">
                <h1> THE BEST TIME TO PROTECT YOUR NEW CAR...IS WHEN ITS BRAND NEW!</h1>

            </div>

            <div class="fourth-body-content">
                <p>Most individuals believe that a brand-new vehicle is flawless. Dealerships will get the car prepared before it is delivered to the customer. However, they will not offer precision, as they use fast techniques that are cost-effective. This type of behavior will cause imperfections, lack luster paint, or improper product applications.</p>
            </div>
        </div>


    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>PAGES</h2>
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/services">Services</a>
                <!-- <a href="#">Account</a> -->
            </div>
            <div class="footer-heading footer-2">
                <h2>CONTACT US</h2>
                <p>MOTORA automotive corp. </p>
                <p>motoracorportaion@gmail.com</p>
                <p>Sucat,Paranaque 126 </p>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign up" id="footer-email-btn">
            </div>


        </div>

