<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>MOTORA</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>

    <div class="upper-container">
        <div class="row">
            <div class="col">
                <h1> QUALITY MATTERS THE MOST.</h1>
                <p>We believe in delivering on the highest quality services both you and your car deserve. Striving for perfection, we’ve been staying on top of the latest and greatest Paint Protection processes and materials in the Car Protection industry for over 16 years. As a premier car detailing shop in Metro Manila, we set out to enhance the aesthetics and protection of vehicles. Our long term approach to client relationships have meant we’ve been able to surpass the results our customers ever thought were possible with processes including paint correction, clear bra installation and applying the finest coatings on the market, Supreme Detail Supply and Modesta Coatings. Come take a look at our MOTORA facility today and let us go over your car with you in order to set it up for long term protection success! Whether you want to spend the bare minimum and simply protect your car, or use an unlimited budget and greatly enhance your vehicle,
                we are the shop in Sucat, Paranaque which can facilitate all your car care needs! </p>
                <button type="button">EXPLORE</button>
            </div>

            <div class="col">
                <div class="card card1">
                    <h5>Paint Correction</h5>
                </div>
                <div class="card card2">
                    <h5>Premium Carwash Services</h5>

                </div>
                <div class="card card3">
                    <h5>Paint Job Services</h5>
                </div>
                <div class="card card4">
                    <h5>Tint Specialist</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="middle-body-container">
            <div class="middle-content">
                <h1>What is Car Detailing?</h1>
                <p>Automotive detailing is a fairly a self-explanatory procedure, in that it involves a “detailed” cleaning process, oftentimes accompanied by the restoration of damaged components. Externally, detailing helps protect paint, glass, and body parts form harmful UV rays, contaminants, and damage stemming from driving.</p>
                <p>Today, the detailing business has become a multi-billion dollar industry, with the economic pistons pumping beneath its bonnet consisting of thousands of unique detailing products, all with their own unique genetic backbone, sales approach, and market distribution. To put the magnitude of this operation into scope, in the United States alone, the auto detailing market was valued at $10.3 billion USD in 2020, and that’s after taking a massive hit due to COVID-19.</p>
            </div>

            <div class="middle-content">
                <h1>Detailing a Vehicle’s Exterior?</h1>
                <p>Clean the Exterior: When detailing a vehicle, the first step should always involve a thorough cleaning with quality detailing products, and a trusted source of water. This not only guarantees that any dirt, debris, road grime, pollen, or other form of surface gunk is removed, but it also exposes any serious issues that may be lurking beneath the surface. For this step, car owners should use a microfiber towel or wash mitt, along with a low pH car wash shampoo to reduce the risk of scratching or marring the surface.</p>
                <p>Protect the Exterior: While a thorough car wash is crucial for removing surface debris, car detailing goes beyond a solid scrub-down, as it typically involves the application of surface protectant coatings. Car wax, paint sealants, clear bras, tire dressing, ceramic coatings, vinyl wrap, paint protection films, and any other number of protective product are yours to use. Other exterior parts such as tires are enhanced with tire dressing. A lot of people also use glass cleaner to clean automotive glass.</p>
             </div>

 
 
             <div class="middle-content">
                <h1>The Zen Art of Car Care</h1>
                <p>For certain car enthusiasts, the deep-cleaning act of car detailing is equal parts DIY puzzle and Zen ritual. An OCD obsession with perfection, that goes well beyond showroom levels of cleanliness, by transcending the realm of gridlocked interstates and road grime, for the sensation of raking a Japanese rock garden, or pruning a 200 year-old bonsai tree.</p>
                <p>Much like the art of bonsai and Japanese rock gardening (枯山水, karesansui), there are multiple levels of difficulty and reward when it comes to auto detailing. While almost every form of hands-on, detail-oriented work comes with a vast array of varying techniques and theories as to what works best and why, car detailing is unique in that it can be easily augmented by chemical products.</p>
             </div>

    </div>
    

    <div class="partner">
        <h1>OUR PARTNER PRODUCTS</h1>
    </div>
    

    <div class="fourth-container">
        <div class="fourth-content">
            <div class="img-products">
                <img class="img1" src="../../../../assets/pic-8.png" alt="">
                <img class="img2" src="../../../../assets/pic-9.png" alt="">
                <img class="img3" src="../../../../assets/pic-10.png" alt="">
                <img class="img4" src="../../../../assets/pic-11.png" alt="">
            </div>
        </div>
    </div>


 

    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>PAGES</h2>
                <a routerLink="/home" [routerLinkActive]="['active-link']">Home</a>
                <a routerLink="/about" [routerLinkActive]="['active-link']"> About</a>
                <a routerLink="/services" [routerLinkActive]="['active-link']">Services</a>
                <a routerLink="/account" [routerLinkActive]="['active-link']">Account</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>CONTACT US</h2>
                <p>MOTORA automotive corp. </p>
                <p>motoracorportaion@gmail.com</p>
                <p>Sucat,Paranaque 126 </p>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign up" id="footer-email-btn">
            </div>
        </div>
    </div>
