<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>MOTORA</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <img class="logo" src="/car-detailing/Frontend/src/app/components/Media/MOTORA.png" alt="logo">
        
        <nav>
            <ul class="nav__links">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">ABOUT</a></li>
                <a class="cta" href="#"><button>CONTACT</button></a>
            </ul>
        </nav>
    </header>

    <main>
        <div class="row">
            <div class="col">
                <h1> QUALITY MATTERS THE MOST.</h1>
                <p>We believe in delivering on the highest quality services both you and your car deserve. Striving for perfection, we’ve been staying on top of the latest and greatest Paint Protection processes and materials in the Car Protection industry for over 16 years. As a premier car detailing shop in Metro Manila, we set out to enhance the aesthetics and protection of vehicles. Our long term approach to client relationships have meant we’ve been able to surpass the results our customers ever thought were possible with processes including paint correction, clear bra installation and applying the finest coatings on the market, Supreme Detail Supply and Modesta Coatings. Come take a look at our MOTORA facility today and let us go over your car with you in order to set it up for long term protection success! Whether you want to spend the bare minimum and simply protect your car, or use an unlimited budget and greatly enhance your vehicle, 
                we are the shop in Sucat, Paranaque which can facilitate all your car care needs! </p>
                <button type="button">EXPLORE</button>
            </div>

            <div class="col">
                <div class="card card1">
                    <h5>Paint Correction</h5>
                </div>
                <div class="card card2">
                    <h5>Premium Carwash Services</h5>
                    
                </div>
                <div class="card card3">
                    <h5>Car care products</h5>
                </div>
                <div class="card card4">
                    <h5>Tint Specialist</h5>
                </div>
            </div>
        </div>
    </main>

    <div>
        <div class="row-two">
            <div class="column-two">
                <h1></h1>
            </div>



        </div>


    </div>
</body>
</html>
