

body {
    color: aqua;
}

.logo {
    width: 15%;
    height: 15%;
    cursor: pointer;
    margin-right: auto;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}


.row{
    display: flex;
    height: 88%;
    align-items: center;
    padding: 100px;
    margin-left: 25px;
}

main{
    background-image: url(../../../assets/pic-7.png);
    background-size: 100%;
}

.col {
    flex-basis: 50%;
}

h1{
    font-size: 50px;
    color: rgb(235, 222, 222);
    font-family: 'Montserrat', sans-serif;
}

p{
    color:rgb(214, 196, 196);
    font-size: 20px;
    margin: 10px ;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.col button{
    width: 180px;
    color: whitesmoke;
    font-size: 12px 0;
    padding: 12px 0;
    background: rgb(189, 17, 17);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;

}

.col button:hover{
    background-color: rgba(255,0,0);
}

.card{
    width: 500px;
    height: 300px;
    display: inline-block;
    font-size: 30px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../../../assets/pic-1.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5;
}

.card1 {
    background-image: url(../../../assets/pic-1.jpg);
}

.card2 {
    background-image: url(../../../assets/pic-2.jpg);
}

.card3 {
    background-image: url(../../../assets/pic-5.jpg);
}

.card4 {
    background-image: url(../../../assets/pic-4.jpg);
}

.card:hover{
    transform: translateY(-10px);
}

.column-two h1{
    text-align: right;
    color: black;
    padding: 10px;
}

.column-two p{
    text-align: right;
    color: black;
    padding: 10px;
    font-size: 25px;
    border: 1000px;
}


.col-two{
    max-width: 100%;
    margin: 0 auto;

}

.logo-col{
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 5%;
}

.logo1{
    width: 20%;
    padding: 50px;
}

.logo2{
    padding: 50px;
}

.logo3{
    margin-bottom: 100px;
    width: 20%;
    padding: 50px;
}

.logo4{
    width: 15%;
    padding: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
