<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<main>
  <div class="admin-wrapper">
    <!--left sidebar-->
    <div class="left-sidebar">
        <ul>
            <li><a routerLink="/manageServices">Manage Services</a></li>
            <li><a routerLink="/manageCustomers">Manage Customers</a></li>
            <li><a routerLink="/manageUsers">Manage Users</a></li>
            <li><a class="logout" style="color: red; cursor: pointer" (click) = 'onLogout()'>Logout</a></li>
        </ul>
    </div>

    <!-- Admin content -->
    <div class="admin-content">
      <div class="content">
        <div *ngIf="userDetails">
          <h3>Hello, {{userDetails.fname}} </h3>
          <p style="font-style: italic;"><b>Username:</b> {{userDetails.username}}
          <b> Role:</b> {{userDetails.role}}
          <b> Email:</b> {{userDetails.email}}</p>
          <h5>Admin Dashboard: Manage Users</h5>
        </div>

      </div>

      <div id="users-wrapper">
        <div id="users" style="display: flex;">
          <div class="col s5" style="flex: 2; border-right: cadetblue 1px solid;" *ngIf="!showHideUsersForm">
            <div>
              <form #userForm="ngForm">
              <input type="hidden">
                    <p style="text-align: center; color:  cadetblue;">Edit or Update User Info</p>
                    <input type="hidden" name="_id" >
                    <div class="row">
                      <div class="col s12">
                        <label class="green-text">First Name :
                          <label class="red-text">*</label>
                        </label>
                        <input type="text" placeholder="First Name" required>

                        <label class="green-text">Last Name :
                          <label class="red-text">*</label>
                        </label>
                        <input type="text" placeholder="Last Name" required>

                        <label class="green-text">Username :
                          <label class="red-text">*</label>
                        </label>
                        <input type="text" placeholder="Username" required>

                        <label class="green-text">Email :
                          <label class="red-text">*</label>
                        </label>
                        <input type="text" placeholder="Email" readonly>

                        <label class="green-text">Physical Address :
                          <label class="red-text">*</label>
                        </label>
                        <input type="text" placeholder="Physical Address" required>

                        <label class="green-text">Phone Number :
                          <label class="red-text">*</label>
                        </label>
                        <input type="text" placeholder="Phone Number" required>

                        <label class="green-text">Role (Office) :
                          <label class="red-text">*</label>
                        </label>
                        <input type="text" placeholder="Role (Office)" required>

                        <button class="btn btn-custom right" type="button" (click)="resetUsersForm()">Cancel</button>
                        <button class="btn btn-custom right" type="submit" [disabled]="!userForm.valid">Update</button>
                      </div>
                    </div>
              </form>
            </div>
          </div>

          <table class="responsive-table highlight" style="flex: 8;">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>  <!-- first name and last name in the same table data, sample <td>{{ first name }} {{ last name }}</td> -->
                <td></td> <!-- username here -->
                <td></td> <!-- email here -->
                <td></td> <!-- address here -->
                <td></td> <!-- phone number here -->
                <td></td> <!-- role here -->
                <td>
                  <!-- edit button -->
                  <a class="action-btn edit" title="Edit or update Customer">
                    <i class="material-icons" (click) = "onEditUser()">edit</i>
                  </a>
                  <!-- delete button -->
                  <a class="action-btn delete" title="Delete Customer">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>




