<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premuim Carwash</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="carwash.component.css">
</head>
<body>
    <div class="first-container">
        <div class="qoute-box">
            <h1>PREMIUM CAR WASH SERVICES</h1>
        </div>
        <div style="display: flex;">
          <div class="qoute-box-message">
            <a routerLink = "/services" class="btn-one">GO BACK TO ALL SERVICES</a>
          </div>
          <div class="qoute-box-message">
            <a routerLink = "/servicesBooking" class="btn-one">BOOK SERVICES WITH US TODAY</a>
          </div>
        </div>

    </div>

    <div class="third-content-section">
        <div class="body-content">
            <div class="first-body-content">
                <h1> PREMIUM CAR WASH </h1>

                <p>Small - ₱150 </p>
                <p>Meduim - ₱250 </p>
                <p>Large - ₱350 </p>
                <p>Extra Large - ₱450 </p>
            </div>

            <div class="second-body-content">
                <p>"They say fall in love with your car again. I'm definitely in love. Excellent job on my paint correction. These guys are the real deal. You guys are awesome. Melissa was so cool and made me feel like my truck was the most important vehicle in the shop."</p>
            </div>
        </div>

        <div class="image-body-content">
            <img class="pic1" src="../../../../assets/pic-18.jpg" alt="">
        </div>

    </div>

    <div class="fourth-content-section">

        <div class="image-two-body-content">
            <img class="pic1" src="../../../../assets/pic-25.png" alt="">
        </div>


        <div class="body-two-content">
            <div class="fourth-body-content">
                <h1> PROPER CARWASH PROPER WAY OF DOING IT!</h1>

            </div>

            <div class="fourth-body-content">
                <p>"For anyone considering Vivë for their detailing needs I can offer the following testimonial; I have had multiple cars detailed by Vivë and can honestly say that I have been amazed by the results of their skills and expertise. They have always been very professional in dealing with, including scheduling and communications. I am a very satisfied customer that will continue to use Vivë for my detailing needs and recommend them highly."</p>
            </div>
        </div>


    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>PAGES</h2>
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/services">Services</a>
                <!-- <a href="#">Account</a> -->
            </div>
            <div class="footer-heading footer-2">
                <h2>CONTACT US</h2>
                <p>MOTORA automotive corp. </p>
                <p>motoracorportaion@gmail.com</p>
                <p>Sucat,Paranaque 126 </p>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign up" id="footer-email-btn">
            </div>


        </div>
