<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tint-services</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="tint-services.component.css">
</head>
<body>
    <div class="first-container">
        <div class="qoute-box">
            <h1>TINT SERVICES</h1>
        </div>
        <div style="display: flex;">
          <div class="qoute-box-message">
            <a routerLink = "/services" class="btn-one">GO BACK TO ALL SERVICES</a>
          </div>
          <div class="qoute-box-message">
            <a routerLink = "/servicesBooking" class="btn-one">BOOK SERVICES WITH US TODAY</a>
          </div>
        </div>

    </div>

    <div class="third-content-section">
        <div class="body-content">
            
            <div class="first-body-content">
                <h1>STEK Dynoshield, ultra glossy, hydrophobic, self healing and puncture resistant.</h1>
                <p>STARTING AT ₱10000</p>
            </div>

            <div class="second-body-content">
                <p>DYNOshield provides you with unparalleled top-coated paint protection film technology for those seeking the best-performing film on the market. Our nano-glass top coat is bonded to the film at a molecular level during manufacturing virtually eliminating the need for waxes or after-market top coatings. DYNOshield is unique in the market because of STEK's combination of an extremely hydrophobic top coating plus self-healing properties for correction of light surface scratches.</p>
            </div>
        </div>
        <div class="image-body-content">
            <img class="pic1" src="../../../../assets/pic-4.jpg" alt="">
        </div>
        

    </div>

    <div class="fourth-content-section">

        <div class="image-two-body-content">
            <img class="pic1" src="../../../../assets/pic-26.png" alt="">
        </div>


        <div class="body-two-content">
            <div class="fourth-body-content">
                <img class="pic2" src="../../../../assets/pic-10.png" alt="">

            </div>

            <div class="fourth-body-content">
                <p>STAIN RESISTANCE</p>
                <p>Paint hue stays true to its original color, with advanced protection against yellowing and stains from dirt, oil, tar and bugs.</p>
                <p>IMPRESSIVE ENDURANCE</p>
                <p>Automotive finishes stay fresh and flawless longer with a PPF shield against damage from rocks, salt and other debris.</p>
                <p>SELF REPAIRING</p>
                <p>Repairing scratches is effortless; film uses heat from a vehicle’s engine or the sun to heal.</p>
            </div>
        </div>


    </div>

    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>PAGES</h2>
                <a routerLink="/home">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/services">Services</a>
                <!-- <a href="#">Account</a> -->
            </div>
            <div class="footer-heading footer-2">
                <h2>CONTACT US</h2>
                <p>MOTORA automotive corp. </p>
                <p>motoracorportaion@gmail.com</p>
                <p>Sucat,Paranaque 126 </p>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign up" id="footer-email-btn">
            </div>


        </div>

