<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.component.css">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
</head>
<body>

    <div class="background-pic">  
        <div class="motora">
            <div class="motora-container">
                <h1> ABOUT MOTORA GROUP </h1>
                <p>Develop an Auto Detailing operation that supplies to its customers the best quality product that meets the customer’s needs. Quality will be defined as the right product to meet the customer’s requirements from a car wash to a complete detailing that included paint correction along with all of the services listed the section entitled Services Offered.
                    The purpose of the company is to provide not only quality service, but a livelihood for the owners and its employees. Along with the ability to provide the community with assistance as needed and that is within the means of the company. </p>
            </div>

            <div class="motora-mission">
                <h1> </h1>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-13.jpg" alt="">
            </div>
            <div class="content">
                <h2>Glass Coating</h2>
                <p>Premium Brands of Glass coating.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-14.jpg" alt="">
            </div>
            <div class="content">
                <h2>Car Cleaning</h2>
                <p>Premium Car Shampoo .</p>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-15.png" alt="">
            </div>
            <div class="content">
                <h2>Premium Detailing</h2>
                <p>Passion fuel purpose .</p>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-16.jpg" alt="">
            </div>
            <div class="content">
                <h2>Premium Equipments</h2>
                <p>Microfibers .</p>
            </div>
        </div>

    </div>

    <div class="second-container">
        <div class="second-content">
            <h3>Passion Fuel Purpose</h3>
            <p>our destiny is determined by our decision, the more we often use our imagination to create daily plan, the more we can get clear picture about what we are going to prepare to welcome our destiny, we must ensure our imagination can measure our capacity, the more we can measure our capacity, the more we can make progress, but if we can’t measure the progress, we will never arrive at our destination place.</p> 
        </div>
    </div>

    <div class="third-container">
        <div class="third-content">
            <div class="third-content-pic">
                <img class="pic1" src="../../../assets/pic-19.jpg" alt="">
            </div>
            <div class="third-content-para">
                <h1>Paint correction is the mechanical leveling of clear coat or paint (clear coat is unpigmented paint, clear) to a point where all the paint is free of swirl marks and light scratches.  Swirl marks are essentially a “V” cut/slice in the paint where light bounces around in the valley of the scratch and exits.  This is how you see the swirl marks. If the paint was flat, with no valley, you wouldn’t have anywhere for the light to bounce around...that is where paint correction shines the best.  </h1>
                <a href="#" class="button">Learn More</a>
            </div>

            
        </div>

    </div>
        
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>PAGES</h2>
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Services</a>
                <a href="#">Account</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>CONTACT US</h2>
                <p>MOTORA automotive corp. </p>
                <p>motoracorportaion@gmail.com</p>
                <p>Sucat,Paranaque 126 </p>
            </div>
            <div class="footer-email-form">
                <h2>Join our newsletter</h2>
                <input type="email" placeholder="Enter your email address" id="footer-email">
                <input type="submit" value="Sign up" id="footer-email-btn">
            </div>


        </div>


    </div>


    





    

