<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.component.css">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>

    <div class="background-pic">
        <div class="motora">
            <div class="motora-container">
                <h1> ABOUT MOTORA GROUP </h1>
                <p>Develop an Auto Detailing operation that supplies to its customers the best quality product that
                    meets the customer’s needs. Quality will be defined as the right product to meet the customer’s
                    requirements from a car wash to a complete detailing that included paint correction along with all
                    of the services listed the section entitled Services Offered.
                    The purpose of the company is to provide not only quality service, but a livelihood for the owners
                    and its employees. Along with the ability to provide the community with assistance as needed and
                    that is within the means of the company. </p>
            </div>

            <div class="motora-mission">
                <h1> </h1>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-13.jpg" alt="">
            </div>
            <div class="content">
                <h2>Glass Coating</h2>
                <p>Premium Brands of Glass coating.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-14.jpg" alt="">
            </div>
            <div class="content">
                <h2>Car Cleaning</h2>
                <p>Premium Car Shampoo.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-15.png" alt="">
            </div>
            <div class="content">
                <h2>Premium Detailing</h2>
                <p>Passion fuel purpose.</p>
            </div>
        </div>
        <div class="box">
            <div class="imgbox">
                <img class="logo5" src="../../../assets/pic-16.jpg" alt="">
            </div>
            <div class="content">
                <h2>Premium Equipments</h2>
                <p>Microfibers.</p>
            </div>
        </div>

    </div>

    <div class="second-container">
        <div class="second-content">
            <h3>Passion Fuel Purpose</h3>
            <p>our destiny is determined by our decision, the more we often use our imagination to create daily plan,
                the more we can get clear picture about what we are going to prepare to welcome our destiny, we must
                ensure our imagination can measure our capacity, the more we can measure our capacity, the more we can
                make progress, but if we can’t measure the progress, we will never arrive at our destination place.</p>
        </div>
    </div>

    <div class="third-container">
        <div class="third-content">
            <div class="third-content-pic">
                <img class="pic1" src="../../../assets/pic-19.jpg" alt="">

                <div class="third-content-para">
                    <h1>Paint correction is the mechanical leveling of clear coat or paint (clear coat is unpigmented
                        paint, clear) to a point where all the paint is free of swirl marks and light scratches. Swirl
                        marks are essentially a “V” cut/slice in the paint where light bounces around in the valley of
                        the scratch and exits. This is how you see the swirl marks. If the paint was flat, with no
                        valley, you wouldn’t have anywhere for the light to bounce around...that is where paint
                        correction shines the best. </h1>
                    <a href="#" class="button">Learn More</a>
                </div>

            </div>

        </div>

    </div>
    <div id="index-gallery">
        <div class="team">
            <h2>MEET THE</h2>
            <h3>TEAM</h3>

            <div class="team_box">
                <div id="teamcontent">
                    <div class="container-left">
                        <div class="bigimg" height="260" width="225">&nbsp;</div>
                    </div>

                    <div class="container-right" id="teamdetails">
                        <h2 id="bigname">Name</h2>
                        <h3 id="bigjob">Title</h3>
                        <p id="bigdesc">A brief description.</p>
                    </div>
                </div>
            </div>

            <ul class="team clearfix">
                <li>
                    <div class="profile_container">
                        <img alt="Joe" class="profilepic" src="../../../assets/Team/Joe.png" />
                        <div class="bigimg-overlay">
                            <div class="bigimg-text"><strong>JOELSON MVUNDURA</strong><br>Creative Director </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="profile_container">
                        <img alt="Andrea" class="profilepic" src="../../../assets/Team/Andrea.jpg" />
                        <div class="bigimg-overlay">
                            <div class="bigimg-text"><strong>ANDREA BULLOS</strong><br>Frontend Developer</div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="profile_container">
                        <img alt="Antoinette" class="profilepic" src="../../../assets/Team/Antoinette.jpg">
                        <div class="bigimg-overlay">
                            <div class="bigimg-text"><strong>ANTOINETTE ALAFIA HALL</strong><br>Backend Developer</div>
                        </div>
                    </div>

                <li>
                    <div class="profile_container">
                        <img alt="Adie" class="profilepic" src="../../../assets/Team/Adie.jpg">
                        <div class="bigimg-overlay">
                            <div class="bigimg-text"><strong>ADELINE UWIBAMBER</strong><br>Database Developer</div>
                        </div>
                    </div>

                </li>

                <li>
                    <div class="profile_container">
                        <img alt="Nino" class="profilepic flipimg" src="../../../assets/Team/Nino.jpg">
                        <div class="bigimg-overlay">
                            <div class="bigimg-text"><strong>NIÑO LUIS GARCES</strong><br>Frontend Developer</div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <ul id="about-team-more" class="about-item">
            <a class="abooutlinks" routerLink="/team" [routerLinkActive]="['active-link']">
                <li>MORE ABOUT US</li>
            </a>
        </ul>


        <div class="footer-container">
            <div class="footer">
                <div class="footer-heading footer-1">
                    <h2>PAGES</h2>
                    <a routerLink="/home" [routerLinkActive]="['active-link']">Home</a>
                    <a routerLink="/about" [routerLinkActive]="['active-link']"> About</a>
                    <a routerLink="/services" [routerLinkActive]="['active-link']">Services</a>
                    <a routerLink="/sign-up" [routerLinkActive]="['active-link']">Admin</a>
                </div>
                <div class="footer-heading footer-2">
                    <h2>CONTACT US</h2>
                    <p>MOTORA automotive corp. </p>
                    <p>motoracorportaion@gmail.com</p>
                    <p>Sucat, Paranaque 126 </p>
                </div>
                <div class="footer-email-form">
                    <h2>Join our newsletter</h2>
                    <input type="email" placeholder="Enter your email address" id="footer-email">
                    <input type="submit" value="Sign up" id="footer-email-btn">
                </div>


            </div>
        </div>