<!-- Our team Section -->
<section id="team" class="team content-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>OUR TEAM</h2>
          <h3 class="caption gray">Meet The MOTORA team</h3>
           </div><!-- /.col-md-12 -->
        
  
        <div class="container">
            
          <div class="row">
            
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="../../../assets/Team/Joe.png" alt="" class="img-responsive">
                  <figcaption>
                    <p>I am passionate about interactive media, and in an age of digital world, I believe bringing design to life with code is essential. So, I specialize in a multi-disciplined approach to my work incorporating design and development. 
                        I am currently studying Bachelor of Science in Information Technology at the Adventist University of the Philippines, Philippines..</p>
                    <ul>
                      <li><a href="https://www.facebook.com/joekingpro"><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    
                    </ul>
                  </figcaption>
                </figure>
                <h4>JOELSON TATENDA MVUNDURA</h4>
                <p>Creative Director</p>
              </div><!-- /.team-member-->
              
            </div><!-- /.col-md-4 -->

            
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="../../../assets/Team/Andrea.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p>A third year student, taking Bachelor of Science in Information Technology at the Adventist University of the Philippines. Interested in Web Developement.  </p>
                    <ul>
                      <li><a href="https://www.facebook.com/clumsyandi/"><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      
                    </ul>
                  </figcaption>
                </figure>
                <h4>ANDREA BULLOS</h4>
                <p>Frontend Developer</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->

           

            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="../../../assets/Team/Antoinette.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p>I am a third-year student, studying Bachelor of Science in Information Technology at the Adventist University of the Philippines, interested in Cybersecurity.</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      
                    </ul>
                  </figcaption>
                </figure>
                <h4>ANTOINETTE ALAFIA HALL</h4>
                <p>Backend Developer</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->
     

            <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="../../../assets/Team/Adie.jpg" alt="" class="img-responsive">
                <figcaption>
                  <p>I am a third-year student, studying Bachelor of Science in Information Technology at the Adventist University of the Philippines, Philippines. 
                      As an IT student I am always fascinated and excited to learn new technologies, and I am working hard to improve my skills so that I can make some real change in the world.</p>
                  <ul>
                    <li><a href="https://www.facebook.com/uwibambe.adeline.1"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
              
                  </ul>
                </figcaption>
              </figure>
              <h4>ADELINE UWIBAMBE</h4>
              <p>Database Developer</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <img src="../../../assets/Team/Nino.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p> Entreprenuer, Front end developer. Create jobs for people around the world..</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                  
                    </ul>
                  </figcaption>
                </figure>
                <h4>NIÑO LUIS GARCES</h4>
                <p>Frontend Developer</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->

       
              

          </div><!-- /.row -->
        </div><!-- /.container -->
  
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.our-team -->